<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../static/images/pen.png" type="image/png" sizes="16x16" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">

   <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
   <title>Checkmate</title>
</head>
<body>
   <nav class="navbar navbar-expand-sm fixed-top">
      <div class="container">
        <a class="navbar-brand mr-auto" 
          ><h1><i class="fas fa-pen-fancy"></i> CheckMate </h1></a>
      </div>
    </nav>

    <main>
       <section id='about'>
         <div class="row list">
            <div class="col-12 col-md-6 img" >
              <img
                src="../static/images/undraw_exams_g4ow.png"
                height="600px"
                class="img-fluid"
              />
            </div>
            <div class="col-12 col-md-6 funky">
              <p class="subtitle">Think before you cheat!!</p>
              <p class='description'>A convenient tool for detecting plagiarism and comparing all submissions in one go. Gives the user a calculated score to detect percentage of similarity and an option to send an automated email to the evaluator.</p>
              
            </div>
          </div>
          
       </section>
       <div class="row">
         <div class="col-12 quote">
           <p>
             Scroll down to use our App
           </p>
          
         </div>
       </div>
       <section id='forms'>
         <div class="row">
            <div class="col-12 quote form-quote">
              <p>
                Upload your Documents in following Form
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 forms" >
               <form action="upload" method="POST" id='appendForm' enctype="multipart/form-data">
                  
                  <div class='form-group'>
                     <label for="Email"><h4>Email address</h4></label>
                     <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" required>
                     <small id="emailHelp" class="form-text ">We'll send you the results of the plagiarism check to you via email.</small>
                  </div> 
                  <div class='form-group'>
                     <label for="myfile"><h4>Select a file:</h4></label>
                     <input type="file" id="myfile" name="file[]" class='btn btn-warning' multiple required>
                     
                     <small id="emailHelp" class="form-text ">file type sould be .txt</small>
                  </div> 
                             
               
               
                  <div class='row'>
                     <div class='col-12 col-sm-6 offset-sm-4'>
                       
                        <button type="submit" class="btn btn-warning">Lets Checkmate!!</button>
                     </div>
                  </div>
              
            </div>
            <div class='col-12 col-sm-6'>
               <img
             src="../static/images/undraw_checking_boxes_2ibd.png"
             height="600px"
             class="img-fluid"
             style="opacity: 0.8;"
           />
            </div>
         </div>
         
      </form>
       </section>
       <div class="row buffer">
         <div class="col-12 quote">
           <p>
            <i class="fas fa-exclamation-circle"></i>More number of files, might cost some extra time
           </p>
          
         </div>
       </div>
       
    </main>
    <footer>
       <div class='container'>
          <div class='row'>
            <div class="col-12 col-md-4 social" style="text-align: center">
               <img
                 src="../static/images/dracarys.png"
                 height="150px"
                 width="200"
                 alt="Logo name"
                 class="img-fluid"
               />
             </div>
             <div class="col-12 col-md-4 social" style="text-align: center">
               <h4>
                 Developed by Team Dracarys for OctaHacks 3.0
               </h4>
             </div>
             <div class="col-12 col-md-4 social" style="text-align: center">
               <a href='https://github.com/ShubhamDeodhar/CheckMate'><h4 >
                   Check our Repository at <i class="fab fa-github"></i>
               </h4></a>
             </div>
          </div>
          
       </div>
    </footer>
   <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  

    <script>
       /*function append(){
          var mainDiv=document.createElement('div');
          mainDiv.classList.add('form-group');
          //creating label for input
          var label=document.createElement('label');
          var h4=document.createElement('h4');
          var Ltext=document.createTextNode('Select a file:')
          h4.appendChild(Ltext);
          label.appendChild(h4);
          //Label Created

          //Creating Input
          var input=document.createElement('input');
          input.type='file';
          input.id="myfile";
          input.name='myfile';
          //required Input created

          //lets create small warning element
          var small=document.createElement('small');
          small.id="emailHelp" ;
          small.classList.add("form-text");
          var Smalltext=document.createTextNode('file type sould be .txt');
          small.appendChild(Smalltext);
          //small warning done

          //lets put it together
          mainDiv.appendChild(label);
          mainDiv.appendChild(input);
          mainDiv.appendChild(small);

          //append it in proper slot
          slot=document.getElementById('appendForm');
          slot.appendChild(mainDiv);
 
       }*/
   </script>
   <script src="https://kit.fontawesome.com/ee1724f52b.js" crossorigin="anonymous"></script>

</body>
</html>